
.contenido {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
}

    .contenido h1 {
        font-size: 70px;
        margin-top: 80px;
    }

    .contenido p {
        margin: 20px auto;
        font-weight: 100;
        line-height: 25px;
        font-family: Calibri
    }

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #F3EF09;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

    button:hover span {
        width: 100%;
    }

.btn-inicio {
    width: 200px;
    padding: 15px 50px;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #F3EF09;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

    .btn-inicio:hover span {
        width: 100%;
        text-decoration: underline;
    }

.btn-explore {
    width: 200px;
    padding: 15px 60px;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #F3EF09;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    line-height: 50px;
}

    .btn-explore:hover span {
        width: 100%;
        text-decoration: underline;
    }

span {
    background: #F3EF09;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: .5s;
}

footer {
    position: absolute;
    bottom: -60%;
    left: 0;
    right: 0;
    background: lightgray;
    height: 15%;
    width: 100%;
    font-family: Calibri;
    padding-top: 15px;
    color: black;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

    .footer-content h3 {
        font-size: 1rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 1rem;
    }

    .footer-content p {
        max-width: 500px;
        margin: 10px 0;
        line-height: 20px;
        font-size: 14px;
    }

.footer-botton {
    background: #dedada;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

    .footer-botton p {
        font-size: 10px;
        word-spacing: 2px;
        text-transform: capitalize;
    }
